.category {
  height: 350px;
  width: 250px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.category img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
  font-size: 13px;
}
.category h2,
.category p {
  padding: 5px;
  margin-left: 15px;
}
.category p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

.category__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1800px;
  gap: 10px;
  place-items: center;
  color: inherit;
  /* margin: -12% 1% 3%; */
  margin: 0 auto;
  border: 1px solid #c5b8b8;
  border-radius: 10px;
  padding: 16px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 10px 6px rgba(87, 87, 87, 0.726); /* subtle shadow */
}

.category__container:hover,
.category:hover {
  box-shadow: 5px 3px 0px rgb(29, 45, 70); /* deeper on hover */
}
